$background-color: #1e1e1e;
$default-text-color: #d4d4d4;

$keyword-color: #569cd6;
$variable-declaration-color: #4fc1ff;
$type-color: #4ec9b0;
$string-color: #ce9178;
$number-color: #b5cea8;

$object-key-color: #9cdcfe;
